@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1265px) {
    .cards__list {
        justify-content: center;
        row-gap: 35px;
    }

    .form-block {
        justify-content: space-evenly;
        column-gap: 60px;
    }

    .article__wrapper {
        flex-direction: column;
        row-gap: 45px;
    }
}

@media screen and (max-width: 1220px) {
    .footer__action-block {
        margin-right: 0;
    }
    .footer__wrapper {
        column-gap: 30px;
    }
}

@media screen and (max-width: 1075px) {
    .footer__wrapper {
        flex-direction: column;
        row-gap: 20px;
    }
}


@media screen and (max-width: 1070px) {
    nav.menu {
        margin-right: 0;
    }
}

@media screen and (max-width: 875px) {
    nav.menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .form-block {
        flex-wrap: wrap;
        row-gap: 50px;
        justify-content: center;
    }
}

@media screen and (max-width: 710px) {
    .footer__btn {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .topline {
        flex-direction: column;
        row-gap: 26px;
    }

    .form, .form__input, .form__textarea,
    .article, .article__text-block,
    .article__image-block {
        width: 100%;
    }

}

@media screen and (max-width: 425px) {
    .topline, .cards, .second, .footer {
        padding-right: 20px;
        padding-left: 20px;
    }

    .article {
        padding: 35px 30px 35px 30px;
    }
}

@media screen and (max-width: 374px) {
    h1 {
        font-size: 22px;
    }
}

